<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <ion-list>
    <ion-item>
      <ion-label><strong>Name:</strong> {{ user.full_name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Email:</strong> {{ user.email }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Roles:</strong> {{ getRoleNames() }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="danger" (click)="logout()">Logout</ion-button>
</ion-content> 