.idea
.commitlintrc.yml
.dockerignore
.editorconfig
.git
.gitattributes
.github
.gitignore
.deploy
.env
.env.example
.env.testing
.phpunit.result.cache
cloud_sql_proxy
cloudbuild.cd.yaml
cloudbuild.ci.yaml
deployment.sh
deploy.tgz
deploy.tar.gz
docker-compose.yml
docker-compose.develop.yml
docker-compose.testing.yml
firebase_credentials.*
init-letsencrypt.sh
k8s
nginx.conf
nginx.develop.conf
package.json
phpcbf.phar
phpcpd.phar
phpcs.phar
phpcs.xml
phpstan.neon
phpunit.xml
README.md
tests
vendor
volumes
webpack.mix.js
yarn.lock
