.idea
.env
.env.*
.phpunit.result.cache
.DS_Store
.config
firebase_credentials.*
auth.json
cloud_sql_proxy
/tests/coverage
/tests/sonar-scanner/sonar-runner.key
/node_modules
/public/hot
/public/storage
/public/uploads/doc
/public/cache-html
/storage/*.key
/storage/*.json
/vendor
/volumes
/storage/psysh
/database/seeds/*.csv
/database/seeds/*.xlsx
/.idea
