<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input type="text" [(ngModel)]="full_name" name="full_name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" [disabled]="loading">Register</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/login">Back to Login</ion-button>
  </form>
</ion-content> 