<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 i18n="@@home.title">Welcome to FDMS</h1>
    <p i18n="@@home.description">Manage your documents efficiently</p>
    <ion-button i18n>Click me!</ion-button>
  </div>
</ion-content>
